@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body{
    background-image: linear-gradient(#A8D5E3, #0E2A38);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu{
    height: 100vh;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4a6b7446;
    gap: 70px;
    
}

.menu img{
    margin-top: -70px;
    margin-bottom: 50px;
}

.botao{
    width: 188px;
    height: 64px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: #24414E;
    color: #A4CDCE;
    font-size: 18px;
}

.botao.ativo{
    border: 3px solid #A4CDCE;
}

